[submodule "Projects/PEE/src"]
	path = Projects/PEE/src
	url = git@github.com:andrewfonseca/IASA-PEE.git
[submodule "Projects/PSA/src"]
	path = Projects/PSA/src
	url = git@github.com:andrewfonseca/IASA-PSA.git
