[submodule "Projects/pee/src"]
	path = Projects/pee/src
	url = git@github.com:andrewfonseca/IASA-PEE.git
[submodule "Projects/psa/src"]
	path = Projects/psa/src
	url = git@github.com:andrewfonseca/IASA-PSA.git
